!!!
%html{:lang => "en-au"}
    %head
        %title
            Fint.css 
        %meta{:charset => "utf-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "build/fint-min.css"}
    %body
        %div.mod_fl
            %div.mod.w_100.h_10.bgc_grey100
                %span.mod_ico.t_c.c_vh.fs_20.nsel
                    Fint.css

            %div.mod.w_100.h_90.bgc_grey200
                %details.mod.w_60.h_5.mr_20.ml_20.bgc_grey300
                    %summary.mod_ico.c_vh
                        QUICK START - Dive into Fint.css
                    
                    %div.mod.w_100.h_50.bgc_grey400
                        Hello!